.container {
    padding: 0;
    
}

.formInput  {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 35px;
    gap: 15px;
     position: absolute;
     width:653px;
    height: 58px;
    left: 400px;
    top: 285px;

}


.passwordtitle {
    position: absolute;
    width: 401px;
    height: 46px;
    left: 495px;
    top: 196px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
}

.message {
    padding-top: 10px;
    position: absolute;
    width: 451px;
    height: 58px;
    left: 495px;
    top: 247px;
    font-size: 18px;
    padding-bottom: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;

}



.cancel {
    padding-left: 105px;
    cursor: pointer;
}

.backButton {
    position: absolute;
   color: white;
   left: 88px;
   top: 58px;
   background-color: "#ffffff";

}

.btn_intructions {
   
    border-radius: 6px;
    background-color: #1996FC;
    text-align: center;
    border: none;
    width: 452px;
    height: 50px;
    left: 496px;
    top: 496px;
}
.emailInput {
    
    padding-top: 54px;
}

.EmailTitle {


font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
color: #212121;

opacity: 0.4;
}

.buttonStyle {
    padding-top: 60px;
}
.cancel {
    position: absolute;
    width: 47px;
    height: 17px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;    
    left: 590px;
    top: 572px;
    /* identical to box height */

    text-align: center;



}