.container {
    position: absolute;
    position: absolute;
    width: 5    51px;
    height: 557px;
    left: 495px;
    top: 196px;

}

.ResetTitle{
    font-size: 38px ;
    margin: 0;
}

.backButton{
    position: absolute;
    color: white;
    left: 88px;
    top: 58px;
}

.btn_continue{
    padding: 15px 150px;
    border-radius: 6px;
   background-color: #1996FC;
    text-align: center;
    border: none;
    width: 450px;
}

.cancel {
    padding-left: 200px;
    text-align: center;
    align-items: center;
    display: flex;
}

.textfield{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    color: #18181B;
    width: 450px;
}

.textfield {
    letter-spacing:.1px;
}